<!DOCTYPE html>
<html lang="pt-br">
{% load compilator %}
<head>
    <meta charset="UTF-8">
    <title>Marcelo Rodrigues | Blog </title>
    <meta name="description" content="Blog de Marcelo Rodrigues">
    <meta name="author" content="Marcelo Rodrigues">
    <link href="/media/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% compile 'media/less/base.less' %}" rel="stylesheet">
    <link href="{% compile 'media/less/icons.less' %}" rel="stylesheet">
</head>
<body>
   <div class="row">
     <div class="navbar navbar-fixed-top navbar-color">
         <div class="container_">
           <div class="navbar-header panel-heading">
              <button type="button" class="navbar-toggle btn-responsivo" data-toggle="collapse" data-target="#navbar-collapse-1">
                  <span class="sr-only"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
           </div>
           <div class="navbar-collapse collapse" id="navbar-collapse-1">
              <ul class="menu navbar-nav navbar-right">
                  <li><a id="home">Home</a></li>
                  <li><a id="features">Features</a></li>
                  <li><a id="contact">Contact</a></li>
              </ul>
           </div>
         </div>
     </div>
   </div>
   <br><br><br>
   <div class="row">
     <div class="container_">
         <aside class="col-md-3 text-center perfil">
             <div class="foto"></div>
             <header>
                 <h2>{{ tag }}</h2>
                 <h3>
                     Desenvolvedor web, apoixonado por programação e fã de webdesign.
                     Depois de ter conhecido esse mundo não consegue mais sair, e nem quer :) !
                 </h3>
             </header>
             <br>
             <a href="#">
                 <span class="icon-facebook-circled social"></span>
             </a>&nbsp;&nbsp;&nbsp;
             <a href="#">
                 <span class="icon-gplus-circled social"></span>
             </a>&nbsp;&nbsp;&nbsp;
             <a href="#">
                 <span class="icon-twitter-circled social"></span>
             </a>
             <br>
         </aside>
         <div class="col-md-4 lateral"></div>
         <div class="col-md-8 text-center">
             <br>
             <header>
                 <h1 class="header1"><strong>Olá</strong></h1>
                 <h1>bem vindo ao meu blog!</h1>
             </header>
             <br>
             <p class="text-left">
                 loren pisim dollor  loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor
                 loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor
                 loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor
                 loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor loren pisim dollor > <
             </p>
             <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
             <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
         </div>
     </div>
   </div>

   <div class="row">
       <div class="container_">
           <div class="col-md-4 lateral"></div>
           <div class="col-md-8 text-center">
               <h2 id="formulario" class="default-color">Gostou? Deixe seu comentário!</h2><br>
               <div class="form-align">
                   <form id="form_ajax" class="form-horizontal">
                       <span class="pull-right required1">*</span><input id="nome" class="form-control borda-normal" placeholder="Nome"><br>
                       <span class="pull-right required2">*</span><input id="email" class="form-control borda-normal" placeholder="Email"><br>
                       <span class="pull-right required3">*</span><textarea id="comentario" class="form-control borda-normal" cols="50" rows="5" placeholder="Deixe um comentário..."></textarea><br>
                       <button id="enviar" type="button" class="btn btn btn-color pull-right" onclick="sender()">Enviar</button>
                   </form>
               </div>
           </div>
      </div>
   </div>
   <br><br>
   <div class="row">
       <div class="container_ comments">
           {% for foo in form %}
                   {% if foo.id < 3 %}
                       <div class="col-md-4 lateral"></div>
                       <div class="col-md-8 text-center">
                          <div class="comentario-container">
                              <h4 class="comentario-color text-left"><span class="contorno-icon"><i class="glyphicon glyphicon-user"></i></span>&nbsp;&nbsp;&nbsp;{{ foo.nome }}:</h4>
                              <h5 class="comentario-color text-center comentario-fundo">{{ foo.comment }}</h5>
                              <h6 class="comentario-color text-right comentario-fundo2">publicado em: {{ foo.publish }}</h6>
                          </div>
                       </div>
                   {% endif %}
                   {% if foo.id > 2 %}
                        <h1>ocultos</h1>
                   {% endif %}
           {% endfor %}
       </div>
   </div>
   <br><br>
   <footer class="footer_">
       <div class="container_">
           <p class="pull-right margin-top-person">Desenvolvido com <a class="lk-django" href="#">Django</a></p>
           <p class="pull-right margin-top-person">Copyright &copy; - 2015&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
       </div>
   </footer>
   <script src="/media/jquery/jquery-2.1.4.min.js"></script>
   <script src="/media/bootstrap/js/bootstrap.min.js"></script>
   <script src="{% compile 'media/js/base.js' %}"></script>
</body>
</html>